.spacer-mini
h4.text-center Credit Card Information
p.separator
form(method='POST')
	input(type='hidden', name='_csrf', value=_csrf)
	.form-group
		.col-md-12
			input.form-control.form-fix(name='card_number', id='card_number', type='name', placeholder='Card Number')
			.spacer-mini
	.form-group
		.col-md-4
			input.form-control.form-fix(name='date', id='date', type='date', placeholder='mm/yy', autocomplete='off', required)
	.form-group
		.col-md-4
			input.form-control.form-fix(name='cvc', id='cvc', type='cvc', placeholder='CVC', autocomplete='off', required)
	.form-group
		.col-md-4
			input.form-control.form-fix(name='zip', id='zip', type='zip', placeholder='Zip code', autocomplete='off', required)
			.spacer-mini
	.form-group
		.col-md-12
			input.button.outline.btn-block(type="submit", value="Add Card")
			.spacer-mini