extends ../layouts/default

block content
	.container.equal-height
		.row
			.col-md-6.pad-0.mrg-0.bg-cover(style="background-image: url('http://www.bellanaija.com/wp-content/uploads/2014/07/Anna-Ebiere-Banner-on-BN-July-2014-BN-Beauty-BellaNaija.com-01.jpg');")
			.col-md-6.black.text-light.pad-100
				img(src='/img/mirher_logo_inverted.png').logo
				h2.monospace.capitalize.title About
				p.spacer-mini.separator-left
				blockquote.mrg-top-20
					p.spacer-mini
					p In a world where image is so vital; our work is not longer the only the presentations, but also our overall selves. Our image muster up assumptions before we have a minute to introduce ourselves. We are forced in a sense to pay more attention to the way we wear our hair down to proper contouring for specific occasions.
					br
					p MirHer is an online hair/beauty club, with a focus on hair, that makes it easier to find solutions to the simple challenges you may have. From finding the right hair extension with the best quality to  hair replacement/alternatives for those suffering from hair loss due to alopecia/chemotherapy. 
				a.button.outline.light.mrg-top-20(href="/contact") Contact Us
