extends ../layouts/default

block content
	.container.equal-height
		.row
			.col-md-6.pad-0.mrg-0.bg-cover(style="background-image: url('http://www.bellanaija.com/wp-content/uploads/2014/07/Anna-Ebiere-Banner-on-BN-July-2014-BN-Beauty-BellaNaija.com-01.jpg');")
			.col-md-6.black.text-light.pad-100
				img(src='/img/mirher_logo_inverted.png').logo
				h5.monospace.capitalize Catch Phrase?
				p.spacer-mini.separator-left
				blockquote.mrg-top-20
				p.monospace Random text withe emotion describing
					footer Name of inspiring
					p.spacer-mini
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim harum modi id ad! Vero saepe quod aspernatur, reiciendis velit facilis obcaecati dolorem dolores voluptate eaque expedita sapiente fuga placeat porro.
				a.button.outline.light.mrg-top-20(href="/contact") Contact Us
