extends ../layouts/default

block content
	.container.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://www.hairfinder.com/hairstyles11/modern-black-hairstyles.jpg')")
		.overlay.overlay-dark-2x
		.row.text-light.text-center.pad-30
			h2.title Careers
			p.separator
	h5.text-center Sorry we don't have any career opportunities at the moment
	p.text-center Please try again later