extends ../layouts/default

block content
	.container.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://www.cutehairstylesideas.net/wp-content/uploads/2015/05/Black-Natural-Wedding-Hairstyles-16.jpg')")
		.overlay.overlay-dark-2x
		.row.text-light.text-center.pad-30
			h2.title Frequently Asked Questions
			p.separator
	.col-md-6.col-md-offset-2
		.spacer-mini
		.toggles
			.toggle.active
				.toggle-title FAQ 1
				.toggle-content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur nostrum accusamus, iste accusantium, alias culpa
			.toggle
				.toggle-title FAQ 2
				.toggle-content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur nostrum accusamus, iste accusantium, alias culpa
			
			.toggle
				.toggle-title FAQ 3
				.toggle-content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur nostrum accusamus, iste accusantium, alias culpa
			
			.toggle
				.toggle-title FAQ 4
				.toggle-content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur nostrum accusamus, iste accusantium, alias culpa
			
			.toggle
				.toggle-title FAQ 5
				.toggle-content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur nostrum accusamus, iste accusantium, alias culpa
			
			