extends layouts/default

block content
	.container
		.row
			.col-md-12.text-center
				h3 MirHer News
				br
			.col-md-4.col-md-offset-5
				i.pe-7s-plus
					span 
						a(href="/admin/news") Create News
			.col-md-12
				br
				table.table
					thead
						tr
							th Title
							th Created
							th Delete
							th Edit
						tbody
							td Name of Article
							td 04/10/2015
							td 
								i.pe-7s-junk
							td
								i.pe-7s-pen
				
			


								