extends layouts/default

block content
	.container
		.row
			.col-md-12.text-center
				h1 MirHer Admin
				br
			.col-md-4
				h5 number of users
			.col-md-4
				h5 Orders
			.col-md-4
				h5 Requests