extends layouts/default

block content
	.container
		.row
			.col-md-12.text-center
				h3 MirHer - Orders
			.col-md-12
				br
				table.table
					thead
						tr
							th Order Number
							th User Name
							th Comments
							th Delete
							th Edit
						tbody
							td #232342423223
							td Shaquiladay
							td Add comments here
							td Order Total
							td
								i.pe-7s-junk
									span
										a(href="#")
							td
								i.pe-7s-bandaid
									span
										a(href="#")