footer#footer1.fixed
	.social-links.hidden-xs
		a(href="/faq") FAQ
		a(href="/about") ABOUT
		a(href="/terms") TERMS
		a(href="/careers") CAREERS
		a(href="/contact") CONTACT
		a(href="#") 
			i.fa.fa-facebook
		a(href="#") 
			i.fa.fa-twitter
		a(href="https://instagram.com/mymirher/")
			i.fa.fa-instagram
