header
	a.logo(href='/')
		img(src='img/mirher-logo.png', alt="LOGO")
	ul.push-right.list-unstyled
	  li
	    a(href='/login') Login
	a.mob-nav(href='#')
		i.fa.fa-bars
	nav#topmenu
		ul
			li
				a(href="/") Home
			li
				a(href="/works") How it works
			li
				a(href="/look") Lookbook
			li
				a(href="/blog") News
		ul
			li
				a(href="/sigin") Login