extends ../layouts/default

block content
  .container
    .row
      .blog
        - each article, i in news
          .post.col-md-4.col-sm-6
            a(href='/news/#{article._id}')
              .post-media
                img(src='http://placehold.it/800x600', alt='')
              .post-content
                h5.title= article.title
                p.date= article.created
