extends ../layouts/default

block content
    section.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image: url('http://placehold.it/1920x1280')")
      .overlay.overlay-dark-2x
      .container.text-light.pad-top-50.pad-btm-50
        h2.title.text-center  #{news.title}
        p.separator
    .container
      .row.mrg-top-70
        .col-md-8.col-md-offset-2.text-center
          h6.title #{news.created}
          p.small #{news.content}
    .pagination
      a(href='#')
        i.pe-7s-angle-left.pe-4x
        span prev
      a.all(href='/news')
        span all
      a(href='#')
        span next
        i.pe-7s-angle-right.pe-4x
    p.separator
    a.to-top(href='#')
      i.pe-7s-angle-up