extends ../../layouts/create

block content
	.container
		.row
			.col-md-12
				h5.text-center Hi #{user.profile.firstname || user.email || user.id}
				h5.text-center #{user}
				p.separator
	.container.mrg-top-30
		.row
			.col-md-6.pad-40
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error quam consequuntur, rerum natus similique dolorum corporis deserunt iusto consequatur omnis esse repellendus ipsa fugiat. Maxime assumenda, vero eveniet. Assumenda.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error quam consequuntur, rerum natus similique dolorum corporis deserunt iusto consequatur omnis esse repellendus ipsa fugiat. Maxime assumenda, vero eveniet. Assumenda.
			.col-md-6
				h6.text-center.title.bold What is your favorite hair length?
				p.separator
				form(method='POST', action="/account/createmirher/hairlength")
					input.form-control(type='hidden', name='_csrf', value=_csrf)
					.col-md-3.col-md-offset-5
						.form-group
							input(type='checkbox',  name='hairlength', id='hairlength' , value='12-16', checked=(true===false ? "checked" : undefined))
							span  12-16"
						.form-group
							input(type='checkbox',  name='hairlength', id='hairlength', value='16-20',checked=(true===false ? "checked" : undefined))
							span  16-20"
						.form-group
							input(type='checkbox', name='hairlength', id='hairlength', value='20-24', checked=(true===false ? "checked" : undefined))
							span  20-24"
						.form-group 
							input(type='checkbox',  name='hairlength', id='hairlength', value='24-30', checked=(true===false ? "checked" : undefined))
							span  24-30"
						.form-group 
							input(type='checkbox',  name='hairlength', id='hairlength', value='30+', checked=(true===false ? "checked" : undefined))
							span  30"+
					.col-md-12
						.form-group
							input(type="submit", value="Hair Texture").button.outline.btn-block
	.portfolio-wrapper.container
		.portfolio.col-2(data-space='0')
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://www.hairandmakeupideas.com/wp-content/uploads/2015/03/curly-hair-extensions-22.jpg')")
					.item-overlay
						h5 Straight
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
					.item-overlay
						h5 Yaki Straight