extends ../layouts/create

block content
	.container
		.row
			.col-md-12
				h5.text-center Hi #{user.email}
	.pad-80.mrg-top-70.mrg-btm-70.text-center(style="background-image:url('http://sajency.com/site/wp-content/uploads/2014/08/513A1963.jpg')", data-stellar-background-ratio='.2')
		.overlay.overlay-light-3x
		h1.uppercase Create Your MirHer
		p.separator.pad-30
		.container
			.row
				.col-md-6.col-md-offset-3
					.tab-panels.text-dark
						#tab3.active
							p
								| In order to create your MirHer we'll need to ask you a few questions. First of all, we would like to get to know you better
							a.button.outline(href='/account/createmirher/name') Let's Get Started 

			