extends ../layouts/default

block content
	.col-md-12.text-center
		h4 Forgot Password?
		p Please enter email to reset password
		form
			input(email="email", id="email", type="email", placeholder="Email", autocomplete="off", required)