extends ../layouts/default

block content
	.container.equal-height
		.row
			.col-md-6.pad-0
				.contact-info.text-light.pad-100
					.info-box
						.details
							h5.title Not a member? 
								a(href='/signup') Join
							p.seperator-left
							h6 Mauris vitae congue nibh, vitae vestibulum lorem. Donec a luctus justo, quis molestie lectus. Praesent placerat eleifend enim, id ultricies neque gravida id. Cras pellentesque ullamcorper massa vel pellentesque. Aenean vel dolor ut nulla elementum viverra eu at ligula. Etiam imperdiet laoreet sapien ac sagittis. Curabitur non consequat mauris. Integer vitae eros dignissim, imperdiet dui vel, bibendum nunc. Proin luctus dolor dolor, eget venenatis dolor porttitor nec. Sed sed congue est. Aliquam erat volutpat. Duis auctor ut nibh ac gravida. Etiam a efficitur urna, sed viverra sem.
			.col-md-6.pad-0.overflow
				.pad-100
					h1.title.text-center Log in
					p.separator.mrg-top-20.mrg-btm-49
					.contact-message
					form(method='POST')
						input(type='hidden', name='_csrf', value=_csrf)
						.form-group
							input.form-control.form-fix(name='email', id='email', type='email', placeholder='Email', required)
						.form-group
							input.form-control.form-fix(name='password', id='password', type='password', placeholder='Password', autocomplete='off', required)
						.form-group
							input.button.outline.btn-block(type="submit", id="submit", value="login")
							a(href="/forgot") Forgot Password?



