extends ../layouts/default

block content
  .row.text-center.pad-30
    h3.title Discover
    p.separator
  .portfolio-wrapper.fullwidth
      .portfolio.col-3
        .item.tall(data-groups='branding')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://photos.modelmayhem.com/photos/070723/09/46a4c0fd9b0b7.jpg')")
            .item-overlay
              h5 undisclosed desires
        .item(data-groups='design')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://images.castcall.blue-compass.com.s3.amazonaws.com/portfolioraw/598/598405.jpg')")
            .item-overlay
              h5 panic station
        .item(data-groups='branding')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://worldhairstyles.com/wp-content/uploads/HLIC/c2e9913d04ecc747e1c09e71ef52f4bb.jpg')")
            .item-overlay
              h5 drones
        .item.wide-tall(data-groups='design')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://www.visionmodels.co.uk/wp-content/uploads/profile-media/maggie-sarai/maggie-sarai-vision-models-05.jpg')")
            .item-overlay
              h5 unintended
        .item.tall(data-groups='branding')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://ell.h-cdn.co/assets/cm/15/02/54af111a951f3_-_01-elle-01-liya-kebede-headshot-xln-xln.jpg')")
            .item-overlay
              h5 Map of the Problematique
        .item.wide(data-groups='branding')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://www.mwmuk.net/girls/samurai/samurai-jewel-2.jpg')")
            .item-overlay
              h5 space dementia
        .item(data-groups='photography')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://whatiscool.net/images/data/user/19/article/naomi_campbell_3.jpg')")
            .item-overlay
              h5 follow me
        .item.tall(data-groups='photography')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('https://nubiansisters.files.wordpress.com/2012/11/tumblr_magskor9s21rw8bvlo1_1280.jpg')")
            .item-overlay
              h5 Citizen Erased
        .item.tall(data-groups='photography')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://i.imgbox.com/aajMiKat.jpg')")
            .item-overlay
              h5 Neutron Star Collision
        .item(data-groups='photography')
          a.item-link(href='project.html')
            .item-img(style="background-image: url('http://www.lookpictures.net/photos/registered_photos/4972-adriana-lima-best-model-pictures.jpg')")
            .item-overlay
              h5 starlight
    a.to-top(href='#')
      i.pe-7s-angle-up
