extends ../layouts/default

block content
  .row.text-center.pad-30
    h3.title Discover
    p.separator
    .col-md-6.col-md-offset-3.text-center
      p.text-center Hello #{user.profile.firstname}, welcome to MirHer, the most exclusive hair club...where your hair is golden!
      p.text-center 
        a.button.outline(href="") Request Chest
  .portfolio-wrapper.container
    .portfolio.col-4(data-space='5')
      .item
        a.item-link(href='project.html')
          .item-img(style="background-image: url('http://www.hairandmakeupideas.com/wp-content/uploads/2015/03/curly-hair-extensions-22.jpg')")
          .item-overlay
            h5 Types of hair
      .item
        a.item-link(href='project.html')
          .item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
          .item-overlay
            h5 Textures of hair
      .item
        a.item-link(href='project.html')
          .item-img(style="background-image: url('http://www.hairandmakeupideas.com/wp-content/uploads/2015/03/curly-hair-extensions-22.jpg')")
          .item-overlay
            h5 Hair Styles
      .item
        a.item-link(href='/news')
          .item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
          .item-overlay
            h5 Latest News

