extends ../layouts/default

block content
	.container.equal-height
		.row
			h3.title.text-center My Stylist
			p.separator
			.spacer-mini
			.col-md-6.pad-0.overflow
				img.img-responsive.img-circle(src="http://placehold.it/350x350")
				p Name: Martha Stewart
				p Id: 90929-0909029-0901921029
				p IG
				p website
				p contact info
				p Salon Address
			.col-md-6.pad-0
				.contact-info.text-light.pad-100
					.info-box
						.details
							



