extends ../layouts/default

block content
	h4.text-center Order History
	p.separator
	.col-md-12
		.container
			table.table
				thead
					tr
						th Order Number
						th Date
						th Feedback
					tbody
						tr
							td #124364564654654
							td 07/12/2015
							td 
								a(href="#") Leave Feedback


							