extends ../layouts/default

block content
	h4.text-center Account 
	p.separator
	.col-md-12.text-center
		ul.list-inline.list-unstyled
			li
				a(href="/account/me/editprofile") Edit Profile  
			li
				a(href="/account/me/shipping") Shipping Address 
			li
				a(href="/account/me/orders") Orders 
			li
				a(href="/account/me/payment") Payment Methods 
			
	h4.text-center Order History
	p.separator
	.col-md-12
		.container
			table.table
				thead
					tr
						th MirHer Id
						th Date
						th Feedback
					tbody
						tr
							td #124364564654654
							td 07/12/2015
							td 
								a(href="/account/me/feedback") Leave Feedback


							