extends ../layouts/default

block content
	h4.text-center Profile
	p.separator
	.col-md-12
		.container
			.row
				.col-md-3.col-md-offset-3
					h5.text-center User Image
					p.separator
					img.img-rounded(src="http://placehold.it/200x200")
					p.text-center Upload Image
					h5.text-center
						a(href='/mystylist') My Stylist
					h5.text-center
						a(href='/request') Request Chest
				.col-md-3
					h5.text-center User Information
					p.separator
					h5.text-center #{user.firstname}
					h6.text-center #{user.email}
					h5.text-center
						a(href="/settings") Edit
					.spacer-mini
					h5.text-center Shipping Information
					p.separator
					h5.text-center 11711 N 50th Street
					p.text-center Tampa, FL
					p.text-center 33617
						h5.text-center
							a(href="#") Edit
					.spacer-mini

			

						