extends ../layouts/default

block content
	.container
		.row
			.col-md-4.col-md-offset-4
				h4.text-center Request Chest
				p.separator
				h6.text-center Intro Text to request
	.container.equal-height
		.row
			.col-md-4.col-md-offset-4
				h5.text-center Please Select Hair Type
	.portfolio-wrapper.container
		.portfolio.col-2(data-space='10')
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://www.hairandmakeupideas.com/wp-content/uploads/2015/03/curly-hair-extensions-22.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h4.title.capitalise Brazilian
						p.separator
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h4.title.capitalise Mongolian
						p.separator
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://atlantablackstar.com/wp-content/uploads/2014/10/camille-McDonald.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h4.title.capitalise Peruvian
						p.separator
			.item
				a.item-link(href='project.html')
					.item-img(style="background-image: url('http://images2.fanpop.com/images/photos/6500000/soft-pose-tyra-banks-6597397-800-600.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h4.title.capitalise Cambodian
						p.separator
				

						

		
