extends ../layouts/default

block content
	.container
		.row
			.col-md-4.col-md-offset-4
				h4.text-center Request Chest
				p.separator
	.container.equal-height
		.row
			.col-md-4.col-md-offset-4
				.spacer-mini
				h5.text-center Please Select Hair Type
	.portfolio-wrapper.container
		.portfolio.col-4(data-space='10')
			.item
				.item-link
					.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Brazilian
						p.separator
						.form-group
							input(type='checkbox',  name='brazilian', id='brazilian' , value='brazilian', checked=(true===false ? "checked" : undefined))
							span  Select
			.item
				.item-link
					.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Peruvian
						p.separator
						.form-group
							input(type='checkbox',  name='peruvian', id='peruvian' , value='peruvian', checked=(true===false ? "checked" : undefined))
							span  Select
			.item
				.item-link
					.item-img(style="background-image: url('http://atlantablackstar.com/wp-content/uploads/2014/10/camille-McDonald.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Malaysian
						p.separator
						.form-group
							input(type='checkbox',  name='malaysian', id='malaysian' , value='malaysian', checked=(true===false ? "checked" : undefined))
							span  Select
			.item
				.item-link
					.item-img(style="background-image: url('http://images2.fanpop.com/images/photos/6500000/soft-pose-tyra-banks-6597397-800-600.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Cambodian
						p.separator
						.form-group
							input(type='checkbox',  name='cambodian', id='cambodian' , value='cambodian', checked=(true===false ? "checked" : undefined))
							span  Select
	.container.equal-height
		.row
			.col-md-4.col-md-offset-4
				.spacer-mini
				h5.text-center Please Select Hair Texture
	.portfolio-wrapper.container
		.portfolio.col-4(data-space='10')
			.item
				.item-link
					.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Straight
						p.separator
						.form-group
							input(type='checkbox',  name='straight', id='straight' , value='straight', checked=(true===false ? "checked" : undefined))
							span  Select
			.item
				.item-link
					.item-img(style="background-image: url('http://atlantablackstar.com/wp-content/uploads/2014/10/camille-McDonald.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Wavy
						p.separator
						.form-group
							input(type='checkbox',  name='wavy', id='wavy' , value='wavey', checked=(true===false ? "checked" : undefined))
							span  Select
			.item
				.item-link
					.item-img(style="background-image: url('http://images2.fanpop.com/images/photos/6500000/soft-pose-tyra-banks-6597397-800-600.jpg')")
					.overlay.overlay-dark
					.row.text-light.text-center.pad-100
						h5.title.capitalise Curly
						p.separator
						.form-group
							input(type='checkbox',  name='cambodian', id='cambodian' , value='cambodian', checked=(true===false ? "checked" : undefined))
							span  Select
	.container
		.row
			.col-md-4.col-md-offset-4
				.spacer-mini
				h5.text-center Please Select Hair Lengths
				select.form-control
					option 10 12 14
					option 12 14 16
					option 14 16 18
					option 16 18 20
					option 18 20 22
					option 20 22 24
					option 22 24 26
					option 24 26 28
					option 26 28 30
	.container
		.row
			.col-md-12.text-center
				.spacer-mini
				h5.text-center Please Select Extras
				.form-group
					input(type='checkbox',  name='closure', id='closure' , value='closure', checked=(true===false ? "checked" : undefined))
					span  Extra Bundle
				.form-group
					input(type='checkbox',  name='closure', id='closure' , value='closure', checked=(true===false ? "checked" : undefined))
					span  Closure

	.container
		.row
			.col-md-4.col-md-offset-4
				.spacer-mini
				.form-group
					input(type="submit", value="Submit Order").button.outline.btn-block
				



	
						

		
