.spacer-mini
h4.text-center Shipping Addresses
p.separator
form(method='POST')
	input(type='hidden', name='_csrf', value=_csrf)
	.form-group
		input.form-control.form-fix(name='street', id='street', type='street', placeholder='Street Address', autocomplete='off', required)
	.form-group
		input.form-control.form-fix(name='apt', id='apt', type='apt', placeholder='Apt, floor, suite', autocomplete='off', required)
	.form-group
		input.form-control.form-fix(name='city', id='city', type='city', placeholder='City', autocomplete='off', required)
	.form-group
		input.form-control.form-fix(name='state', id='state', type='state', placeholder='State', autocomplete='off', required)
	.form-group
		input.form-control.form-fix(name='zip', id='zip', type='zip', placeholder='Zip', autocomplete='off', required)
	.form-group
		input.button.outline.btn-block(type="submit", value="Add Address") 


