extends ../layouts/default

block content
	.container
		.row
			.col-md-4.col-md-offset-4
				h4.text-center Account 
				p.separator
			.col-md-6.col-md-offset-4
				ul.list-inline.list-unstyled
					li
						a(href="/account/me/editprofile") Profile Info  
					li
						a(href="/account/me/shipping") Shipping Address 
					li
						a(href="/account/me/orders") Orders 
					li
						a(href="/account/me/payment") Payment Methods
	.container
		.col-md-4.col-md-offset-2.pad-0.overflow
			.spacer-mini
			h5.text-left Shipping Address
			hr.line
			form(method='POST', action='/account/me/shipping')
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group
					input.form-control.form-fix(name='street', id='street', type='street', placeholder='Street Address', autocomplete='off', required)
				.form-group
					input.form-control.form-fix(name='city', id='city', type='city', placeholder='City', autocomplete='off', required)
				.form-group
					input.form-control.form-fix(name='state', id='state', type='state', placeholder='State', autocomplete='off', required)
				.form-group
					input.form-control.form-fix(name='zip', id='zip', type='zip', placeholder='Zip', autocomplete='off', required)
				.form-group
					input.button.outline.btn-block(type="submit", value="Add Address")
		.col-md-4
			h6= user.shippings 

		
	