extends layouts/home

block content
	a.side-link.left.animsition-link(href="/about", data-animsition-out="fade-out-right-sm")
		.side-arrow
		.side-title a b o u t
	a.side-link.right.animsition-link(href="/join", data-animsition-out="fade-out-left-sm")
		.side-arrow
		.side-title J O I N
	.hero
		.hero-inner
			.hero-slider
				ul.slides
					li.slide(style="background-image: url('http://www.sirowa.com/html2/fileadmin/_processed_/csm_iStock_000032933448_XXXLarge_1920_86dc711f08.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize Get Access to the most exclusive hair club
							h6 Newest styles at your convenience
							a.button.outline.light.mrg-top-20(href='/join') Join now
					li.slide(style="background-image: url('http://i4.ytimg.com/vi/wVBgHlwJDD0/maxresdefault.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize Your In Control
							h6 You Decide How Often You Receive Your Products
							a.button.outline.light.mrg-top-20(href='/join') Join now
					li.slide(style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/0f/70/9f/0f709f965be32f563c94c26715c0354a.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize Personal Stylist
							h6 Skilled Stylist To Help You With Your Selection Process
							a.button.outline.light.mrg-top-20(href='/join') Join now