extends layouts/home

block content
	a.side-link.left.animsition-link(href="/about", data-animsition-out="fade-out-right-sm")
		.side-arrow
		.side-title a b o u t
	a.side-link.right.animsition-link(href="/join", data-animsition-out="fade-out-left-sm")
		.side-arrow
		.side-title J O I N
	.hero
		.hero-inner
			.hero-slider
				ul.slides
					li.slide(style="background-image: url('http://www.sirowa.com/html2/fileadmin/_processed_/csm_iStock_000032933448_XXXLarge_1920_86dc711f08.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize survival
							h6 jnkjnjnjksdncjknsjkdcnsjdncjksndcjnsdjknjkdsnjnsdds
							a.button.outline.light.mrg-top-20(href='/join') Join now
					li.slide(style="background-image: url('http://www.sirowa.com/html2/fileadmin/_processed_/csm_iStock_000032933448_XXXLarge_1920_86dc711f08.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize survival
							h6 jnkjnjnjksdncjknsjkdcnsjdncjksndcjnsdjknjkdsnjnsdds
							a.button.outline.light.mrg-top-20(href='/join') Join now
					li.slide(style="background-image: url('http://www.sirowa.com/html2/fileadmin/_processed_/csm_iStock_000032933448_XXXLarge_1920_86dc711f08.jpg')")
						.overlay.overlay-dark
						.slide-caption.text-light.text-center
							h4.text-capitalize survival
							h6 jnkjnjnjksdncjknsjkdcnsjdncjksndcjnsdjknjkdsnjnsdds
							a.button.outline.light.mrg-top-20(href='/join') Join now