extends layouts/default

block content
	.row
		.col-md-12.text-center
			h3 Join
			p.separator
			.spacer-mini
			h5 Age Group
			p.separator
			.col-md-12
				.col-md-3
					input(type='checkbox', checked=user.profile.age=='16-21', name='age', value='16-21', data-toggle='radio')
					span 16-21
				.col-md-3
					input(type='checkbox', checked=user.profile.age=='22-28', name='age', value='22-28', data-toggle='radio')
					span 22-28
				.col-md-3
					input(type='checkbox', checked=user.profile.age=='29-35', name='age', value='29-35', data-toggle='radio')
					span 29-35
				.col-md-3
					input(type='checkbox', checked=user.profile.age=='36+', name='age', value='36+', data-toggle='radio')
					span 36+
				