extends layouts/default

block content
	.row
		.col-md-12.text-center
			h3 Join
			.col-md-12
				.tabs
					ul.tab-nav
						li.active(data-tabpanel='#tab1') Age Group |
						li(data-tabpanel='#tab2') Hair Type |
						li(data-tabpanel='#tab3') Hair Health |
						li(data-tabpanel='#tab4') Weave |
						li(data-tabpanel='#tab5') Frequency |
						li(data-tabpanel='#tab6') Extension |
						li(data-tabpanel='#tab7') Texture |
						li(data-tabpanel='#tab8') Bundles
					.tab-panels
						#tab1.active
							.container
								h3 Choose Age Group
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab2
							.container
								h3 Choose Hair Type
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab3
							.container
								h3 Choose Hair Health
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab4
							.container
								h3 Weave
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab5
							.container
								h3 Frequency
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab6
							.container
								h3 Extension
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab7
							.container
								h3 Textures
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator
						#tab8
							.container
								h3 Bundles
								p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 16-21
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 22-28
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 29-35
											p.separator
								.col-md-3.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://jmvdesign.ca/wp-content/uploads/2011/04/background-black-stripes1.jpg')")
									.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-30
											h4.title 36+
											p.separator


		
