extends layouts/default

block content
  .portfolio-wrapper.container
    - each product, i in products
        .portfolio.col-3(data-space='50')
          .item.wide-tall(data-groups='design')
            a.item-link(href='project.html')
              .item-img(style="background-image: url('#{product.image}')")
              .item-overlay
                h5 unintended
      a.to-top(href='#')
        i.pe-7s-angle-up

