extends layouts/default

block content
    .container.bg-cover.bg-fixed.pad-top-120.pad-btm-120(style="background-image:url('http://thewowstyle.com/wp-content/uploads/2015/04/Rihanna-Bob-Hairstyles-Black-Women-Wallpaper.jpg')")
      .overlay.overlay-dark-2x
      .row.text-light.text-center.pad-30
        h1.title How It Works?
        p.separator
    .container.mrg-top-30
      .row
        .col-md-6.col-md-offset-3.pad-40
          ol
            li Create your profile - Help us get know who you are so that we can personalize your MirHer. (Age group, hair type/texture)
            br
            li Challenges - Let us know what things you might be battle with in relation to the health of your hair
            br
            li Identify preferences - Choose from a variety of options and pick which lenght, color etc. work best for you
            br
            li 

    .pad-80.mrg-top-70.mrg-btm-70.text-center(style="background-image:url('http://poshsblackbook.com/wp-content/uploads/2011/01/url-4.jpg')", data-stellar-background-ratio='.2')
      .overlay.overlay-light-3x
      h1.uppercase Get Started
      p.separator.pad-30
      .container
        .row
          .col-md-6.col-md-offset-3
            .tab-panels.text-dark
              #tab3.active
                p
                  | There are very few gems in the world and one of the most precious is about to create her MirHer
                a.button.outline(href='/signup') Get Started
    a.to-top(href='#')
      i.pe-7s-angle-up
