link(href="/styles/animate.css", rel="stylesheet", type="text/css")
link(href="/styles/animsition.min.css", rel="stylesheet", type="text/css")
link(href="/styles/main-back.css", rel="stylesheet", type="text/css")
link(href="/styles/magnific-popup.css", rel="stylesheet", type="text/css")
link(href="/styles/pe-icon-7-stroke.css", rel="stylesheet", type="text/css")
link(href="/styles/bootstrap.min.css", rel="stylesheet", type="text/css")
link(href="/styles/font-awesome.min.css", rel="stylesheet", type="text/css")

